/* styles.css */

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    color: #000000;
    overflow: hidden; /* Hide overflow to prevent scroll bars */
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/static/ssn_bg.jpeg');
    background-size: cover; /* Ensure the background image covers the entire page */
    background-position: center; /* Center the background image */
    opacity: 0.825; /* Reduce opacity to half */
    z-index: -1; /* Place the background behind other content */
}

#top-bar {
    background-color: rgba(13, 75, 160, 0.8);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.home-link {
    margin-left: 20px;
}

.home-link a {
    color: #ffffff;
    text-decoration: none;
    font-size: 28px; /* Adjust icon size */
}

.home-link a:hover {
    color: #f0f0f0; /* Change color on hover if needed */
}

#logo {
    width: 120px;
    height: 75px;
    margin-right: 20px;
}

h1 {
    color: #ffffff;
    margin-top: 50px;
}

.welcome-message {
    margin-bottom: 30px;
}

.button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.redirect-button {
    background-color: #0D4BA0;
    color: #ffffff;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s;
    text-transform: uppercase;
    border: none;
    font-weight: bold;
}

.redirect-button:hover {
    background-color: #06376F;
}
