<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSN Student Extracurricular Activities</title>
    <link rel="stylesheet" href="/static/styles.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div id="background"></div>
    <div id="top-bar">
        <div class="home-link"><a href="{{ url_for('home') }}"><i class="fas fa-home"></i></a></div>
        <img id="logo" src="/static/ssn_logo_white.png" alt="SSN Logo">
    </div>
    <h1>SSN Student Extracurricular Activities</h1>
    <div class="welcome-message"></div>
    <div class="button-container">
        <button type="button" onclick="window.location.href = '{{ url_for('student_login')}}'" class="redirect-button">Student Login</button>
        <button type="button" onclick="window.location.href = '{{ url_for('faculty_login')}}'" class="redirect-button">Faculty Login</button>
        <button type="button" onclick="window.location.href = '{{ url_for('admin_login')}}'" class="redirect-button">Admin Login</button>
    </div>
</body>
</html>
